html {font-family: Tahoma,Verdana,Segoe,sans-serif; }

.input_size {
	margin: 5px 5px 5px 5px;
	width: 300px;
    height: 25px;
}

.legend {
	    margin-bottom: 10px;
}

.tabs { list-style: none; }
.tabs li { display: inline; }
.tabbed-area {
	clear: both;
	position: relative;
	margin-bottom: 7%;
}
.tabs li a { 
	color: black; 
	float: left; 
	display: block; 
	padding: 4px 10px; 
	margin-left: -1px; 
	position: relative; 
	left: 1px; 
	background: white; 
	text-decoration: none; }

.tabs li a:hover { background: #ccc; }

#new_order, #my_orders, .tabs li a { border: 1px solid #ccc; }

.group:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; }

.div-wrap { 
	position: relative; 
	min-height: 250px; }

.div-wrap div { 
	overflow: hidden;
	background: white; 
	padding: 20px; 
	min-height: 250px; 
	position: absolute; 
	top: -1px; 
	left: 0; 
	width: 100%; }


.div-wrap div:target {
  z-index: 1;
  display: block
}

#order_details button{
	
}


#order_details {
	p
	clear: both;
	margin-top: 20px;
}

#details {
	margin-top: 5%;
}
#details p {
	margin-bottom: 3%;
}